@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura/futura\ medium\ bt.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #001220;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    height: 90px;
    width: 100%;
    background: rgb(255, 255, 255, 0);

    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: sticky;
}

nav .logo a img {
    height: 50px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #f2f2f2;

    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #111;
    text-decoration: none;
    background: #fff;
    transition: ease 1s;
}

.select {
    background: #fff;
    color: #111;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#fp-nav ul li a span {
    background: white !important;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1047px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 990px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

.section1 {
    /* background-image: url(../img/layered-waves-haikei.svg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}


.page_title {
    /* background: url(/Gaming_UI/img/Untitled\ design.png) no-repeat center center / cover; */
    /* background-size: 900px;     */
    
    /* letter-spacing: 0.65px; */
    text-align: left;
    position: relative;
    /* min-height: 250px; */
    padding-top: 105px;
    line-height: 5px;
    /* box-sizing: border-box; */
    /* display: block; */
    padding-left: 55px;
    
}
.page_title h2{
    /* font-size: 100px; */
    font-size: 7vw;
    /* line-height: 50px; */
    font-weight: 600;
    font-family: Futura;
    position: relative;
    color: rgba(0, 255, 255, 0.8);
}
.page_title h5{
    color: white;
    width: 700px;
    font-size: px;
    margin-top: 75px;
}

.abt img{
    position: relative;
    width: 500px;
    left: 900px;
    bottom: 350px;
    /* height: 400px; */
    border-radius: 50%;
    border: 2px solid #e43f4a;
    box-shadow: inset 0 0 30px #e43f4a, 0 0 30px #e43f5a;
}
.section2 {
    /* background-image: url(../img/layered-mirror.svg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */

}

.section2 .fp-tableCell {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/* .gtk{
    width: 500px;
    right: 1000px;
} */

/* .gtk h1 {
    padding: 120px 0;
    position: relative;
    text-align: left;
    line-height: 32px;
    color: cyan;
    letter-spacing: 0.64px;    
    font-weight: 100px; 
    width: 550px;
    padding-left: 90px;
    font-size: 50px;    
    font-weight: 400;
    color: white;
    
    letter-spacing: 1.2px;
    text-transform: uppercase;
    left: 100px;
      
} */
/* .gtk h2{
    margin-top: 20px;
    line-height: 32px;
    color: cyan;
    letter-spacing: 0.64px; 
    font-size: 20px;
    bottom: 1000px;
    width: 750px;
    padding-left: 190px;
    font-weight: 600;
    padding-top: 40px;
    width: 600px;
    left: 100px;

} */
#section2-container{
    min-height: 100%;
    width: 100%;
    /* border-radius: 20px; */
    background: #001220;
    /* box-shadow: inset -7px 7px 12px #00070d,
        inset 7px -7px 12px #001d33; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.our-mv{
    /* display: flex; */
    flex-direction: column;
    height: 600px;
    /* width: 1500px; */
    /* width: 50px; */
    
    /* justify-content: center; */
    /* align-items: center; */

}
.our-mission{
    /* display: flex; */
    height: 100px; 
    width: 1000px;
    
    /* margin-bottom: 100px; */
    background-color: #001220;
    /* border: 2px solid white; */
    border-radius: 50px;
    box-shadow: -7px 7px 15px #00070d,
        7px -7px 15px #001d33;
}
/* .test{
    padding-bottom: 20px;
} */
.our-mission h1{
    color: cyan;
    font-size: 70px;
    /* margin-bottom: 60px; */
    margin-top: 10px;
}
.our-mission h2{
    margin-top: 30px;
    margin-left: 40px;
    color: white;
    text-align: center;
    width: 900px;
    
    font-size: 20px;
    /* margin-bottom: 150px; */
}

.section3 {
    /* background-image: url(../img/layered-mirror.svg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */

}

.section3 .fp-tableCell {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* 
.rounded-circle {
    border-radius: 50%!important;
} */
#section3-container{
    min-height: 100%;
    width: 100%;
    /* border-radius: 20px; */
    background: #001220;
    /* box-shadow: inset -7px 7px 12px #00070d,
        inset 7px -7px 12px #001d33; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.our-team{
    color: rgba(0, 255, 255, 0.8);
    /* margin-top: 20px; */
    /* margin-bottom: 50px; */
    font-size: 45px;
    font-weight: 450px;
    letter-spacing: 1px;
       
    /* padding-bottom: 10px; */
       
}
.team-detail{
    color: white;
    width: 900px;
    
}
.team-detail h4{
    font-size: 20px;
}
/* .row{
    display: flex;
    min-height: 80%;
    width: 100%;
    border-radius: 20px;
    background: #001220;
    justify-content: space-around;
    align-items: center;
    
} */

.mot {
    width:300px;
    height: 450px;
    border-radius: 15px;
    /* background: #ff  f; */
    /* background: linear-gradient(225deg, #001322, #00101d); */
    background:#001220;
    box-shadow: -7px 7px 15px #00070d,
        7px -7px 15px #001d33;
    /* margin: 20px auto; */
    /* padding: 20px 0; */
    /* transition: all 1s ease-in-out; */
}
.card-deck .mot{
    margin-right: 70px;
}
/* .photo{ */
    /* box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important; */
/* } */

/* .card .icon {
    padding: 10px;
    
    text-align: center;

    margin: 5px auto;
    height: 50px;
    width: 50px;
    font-size: 40px;
    
    color: white;
    background: #001220;
    box-shadow: 6px 6px 18px #000910,
        -6px -6px 18px #001b30;
} */

.icons{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    padding-top: 10px;
    
}
.icons a{
    display: flex;
    justify-content: center;
    margin: 0 15px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    border: 3px solid #e43f5a;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    box-shadow: 6px 6px 18px #000910,
        -6px -6px 18px #001b30;
    padding: 10px;
}
.icons a:hover{
    /* background: #001220;
    border: 3px dashed #e43f5a; */
    background: #001220;
    box-shadow: 0px 0px 5px #00070d,
        0px 0px 5px #e43f5a,
        0 0 20px #e43f5a;
        transition: all 0.2s ease-in-out;

}

.card-title {
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

.card-text {
    color: #e43f5a;
    font-size: 20px;
    font-family: Poppins, Sans-serif;
    padding: 10px 5px;
}
/* .icon icon-xs{
    font-size: 0.5rem;
} */
.card-img-top{
    width: 190px;
    /* height: 150px; */
    /* box-shadow: 6px 6px 12px #001d33,-6px -6px 12px #001d33!important; ; */
    border-radius: 50%;
    border: 3px solid cyan;   
    /* box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important; */
    /* padding-top: 15px; */
    margin-top: 20px;
    
}
/* .img-outter{
    
    border: 2px solid yellow;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;    
} */
/* .img-inner{
    border: 4px solid purple;
    border-radius: 50%;
     box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;    
    box-shadow: ;
    padding-left: 50px;
    border-radius: ;
    box-shadow: rgb(184, 185, 190) 2px 2px 5px 0px inset, rgb(255, 255, 255) -3px -3px 7px 0px inset;
} */

.section4 {
    /* background-image: url(../img/layered-mirror.svg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */

}

.section4  .fp-tableCell {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.footer .row{
    margin:40px 0;
}
.counter{
    padding:60px 0;
}
.counter div{
    margin: 0 40px;
}
.counter span{
    border: 1px solid white;
}
.counter div h1{
    font-family: Futura;
    color: white;
    font-size: 55px;
}
.counter div h4{
    color: #00ffff;
}
.cta-touch{
    flex-direction: row;
    border-radius: 10px;
    background: linear-gradient(145deg, #00101d, #001322);
    box-shadow: 5px 5px 11px #00070d,
    -5px -5px 11px #001d33;
    
}
.cta-touch div h1{
    color: white;
}
.cta-touch div h1 span{
    color: #e43f5a;
}
.cta-touch div p{
    color: rgb(255, 255, 255, 0.6);
}
.cta-touch div{
    padding:0 50px;
}
.touch-image{
    text-align: center;
}
.touch-image img{
    height:330px;
}
.cta-buttons ul{
    list-style-type: none;
}
.cta-buttons ul li{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    background: linear-gradient(145deg, #00101d, #001322);
    box-shadow: 5px 5px 11px #00070d,
    -5px -5px 11px #001d33;
    

}
.cta-buttons ul li:hover{
    box-shadow: 0 0 10px #e43f5a;
}
.cta-buttons a{
    color: white;
    font-size:20px;
}
footer hr{
    border: 1px solid whitesmoke;
    width: 30vw;
}
footer img{
    height: 20px;
    width: auto;
    margin: 10px
}
footer p{
    color: white;
}
footer span{
    color: #e43f5a;
}