@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura/futura\ medium\ bt.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #001220;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    height: 90px;
    width: 100%;
    background: rgb(255, 255, 255, 0);

    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: sticky;
}

nav .logo a img {
    height: 50px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #f2f2f2;

    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #111;
    text-decoration: none;
    background: #fff;
    transition: ease 1s;
}

.select {
    background: #fff;
    color: #111;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#fp-nav ul li a span {
    background: white !important;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1047px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 990px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

.section1 {
    /* background-image: url(../img/layered-waves-haikei.svg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}


.page_title {
    /* background: url(/Gaming_UI/img/Untitled\ design.png) no-repeat center center / cover; */
    background-size: 900px;    
    color: rgb(228, 63, 90);
    letter-spacing: 0.65px;
    text-align: center;
    position: relative;
    min-height: 250px;
    padding-top: 80px;
    line-height: 5px;
    box-sizing: border-box;
    display: block;
    
}
.page_title h2{
    font-size: 100px;
    line-height: 50px;
    font-weight: 600;
}
.gtk h1 {
    /* padding: 120px 0; */
    position: relative;
    line-height: 32px;
    color: cyan;
    letter-spacing: 0.64px;    
    font-weight: 100px; 
    width: 550px;
    padding-left: 90px;
    font-size: 50px;    
    font-weight: 400;
    color: white;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    left: 100px;
      
}
.gtk img{
    text-align: right;
    /* size: 10px; */
    height: 350px;  
    position: relative;    
    left: 1000px;
    bottom: 300px;
      
    /* width: px; */
}
.para{
    margin-top: 20px;
    line-height: 32px;
    color: cyan;
    letter-spacing: 0.64px; 
    font-size: 20px;
    bottom: 1000px;
    width: 750px;
    padding-left: 190px;
    font-weight: 600;
    padding-top: 40px;
    /* width: 600px;
    left: 100px; */

}

.section2 {
    /* background-image: url(../img/layered-mirror.svg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */

}

.section2 .fp-tableCell {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


/* 
.rounded-circle {
    border-radius: 50%!important;
} */
.container{
    min-height: 80%;
    /* width: 100%; */
    border-radius: 20px;
    background: #001220;
    box-shadow: inset -7px 7px 12px #00070d,
        inset 7px -7px 12px #001d33;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
.our-team{
    color: white;
    /* margin-top: 20px; */
    /* margin-bottom: 50px; */
    font-size: 50px;
    font-weight: bold;
}
.row{
    display: flex;
    min-height: 80%;
    /* width: 100%; */
    border-radius: 20px;
    background: #001220;
    
    justify-content: space-around;
    align-items: center;
    
}
.card {
    /* height: 100px; */
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(225deg, #001322, #00101d);
    box-shadow: -7px 7px 15px #00070d,
        7px -7px 15px #001d33;
    margin: 20px auto;
    padding: 20px 0;
    transition: all 1s ease-in-out;

}
.photo{
    /* box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important; */
}

/* .card .icon {
    padding: 10px;
    margin: 5px auto;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #7ed4dd;
    color: white;
    background: #001220;
    box-shadow: 6px 6px 18px #000910,
        -6px -6px 18px #001b30;
} */

.card-title {
    color: white;
    font-size: 30px;
}

.card-text {
    color: #e43f5a;
    font-size: 20px;
    font-family: Poppins, Sans-serif;
    padding: 10px 5px;
}
/* .icon icon-xs{
    font-size: 0.5rem;
} */
.card-img-top{
    width: 300px;
    box-shadow: 6px 6px 12px #001d33,-6px -6px 12px #001d33!important; ;
    border-radius: 50%;
}
.icon{
    font-size: 2rem;
    letter-spacing: 40px;
    text-align: center;
    /* padding-left: 10px; */
}
/* .list{
    text-align: right;
    padding-left: 100px;
} */
.fab{
    /* padding-left: 40px; */
    text-align: center;
}