@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: #1B1B2F;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-image:  url(../img/Untitled\ design.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: rgb(255, 255, 255, 0);

    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: sticky;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #f2f2f2;

    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #111;
    text-decoration: none;
    background: #fff;
    transition: ease 1s;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
        z-index: 999;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}


/* body {
    background-image: url(/attachment-05.jpg);
} */

.container {
    transform: translate(0, 15%);
    padding: 100px 5vw 100px 5vw;
    border-radius: 35px;
    background: linear-gradient(145deg, #1d1d32, #18182a);
    box-shadow: 5px 5px 14px #12121f,
    -5px -5px 14px #24243f;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 5vh;
}

p {
    padding: 0 20px 0 0;
    color: #8896ab;
}

.contact-info {
    margin: 50px 0;
}

.contact-info h4 {
    color: #fff;
    font-size: 1.8vh;
}

.contact-info a {
    text-decoration: none;
    color: #8896ab;
    font-size: 2vh;
}

.contact-info a:hover {
    color: #E43F5A;
}

label {
    color: white;
}

input,
select, textarea {
    background-color: #8896AB !important;
    color: whitesmoke !important;
    border: none !important;
    outline: none !important;
    height: 5vh;
}

.submit {
    height: 5vh;
    width: 130px;
    font-size: 12px;
    background-color: #E43F5A;
    color: white;
}

@media only screen and (max-width: 767px) {
    .container {
        transform: translate(0, 4%);
        margin-bottom: 200px;
    }
}

