@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stick No Bills',
    sans-serif;
}

body {
    background-color: #001220;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    height: 90px;
    width: 100%;
    background: rgb(255, 255, 255, 0);

    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: sticky;
}

nav .logo a img{
    height:50px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #f2f2f2;
    
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #111;
    text-decoration: none;
    background: #fff;
    transition: ease 1s;
}
.select{
    background: #fff;
    color: #111;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1047px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 990px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}
.landing-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 0 3vw;
}
.landing-text h1{
    background-image: linear-gradient(to right bottom, #00ffc8, #0df8d3, #2df0db, #49e8e0, #61e0e1, #6ad7e0, #75cddc, #80c4d6, #83b8ce, #86acc4, #88a1b8, #8896ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 6vw;
    font-weight: 600;
    letter-spacing:5px;
    margin: 0;
    width: 35vw;
}
.landing-text h1:after {
    background: none;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 10px 10px 8px rgb(0, 0, 0, 0.8);
    top: 0;
    z-index: -1;
}

.landing-text h3{
    color: whitesmoke;
    margin: 0 0 40px 5px;
    line-height:0.5vh;
    font-size: 1.3vw;
}
.landing-image{
    margin: 30px 0 0 0;
    text-align: center;
    z-index: -1;
}
.landing-image img{
    width: 28vw;
    filter: drop-shadow(0 0 200px rgb(228, 63, 90,1));
    margin:0 auto;
    border-radius:50%;
    border: 6px white dotted;
}

@media (max-width: 920px) {
    .landing-image{
        text-align: center;
    }
    #laptop-image{
        left: 30px;
    }
    #controller-image{
        left: -30px;
    }

}
@media(max-width: 780px){
    #laptop-image{
        left: 30px;
        width:200px;
    }
    #controller-image{
        left: -30px;
        width:150px;
    }
}

.cta-buttons button{
    outline: none;
    border: none;
    margin: 0 10px;
    height: 45px;
    width: 150px;
    min-width: 100px;
    font-size: 13px;
    color: white;
    padding:5px;
    border-radius: 8px;
    background: linear-gradient(145deg, #f44360, #cd3951);
    box-shadow: 3px 3px 1px #5b1924,
    -3px -2px 6px #000;
}

.cta-buttons button:hover{
    border-radius: 26px;
    transition: ease-in-out 0.5s;
}
.social-landing{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.social-landing a{
    color: white;
    margin: 0 20px;

}

.social-landing a:hover{
    transform: scale(1.4);
}
.section1{
    background-image: url(../img/layered-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}
.section-2{
    background-color: #7ED4DD;
}