@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura/futura\ medium\ bt.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #001220;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    height: 90px;
    width: 100%;
    background: rgb(255, 255, 255, 0);

    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: sticky;
}

nav .logo a img {
    height: 50px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #f2f2f2;

    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #111;
    text-decoration: none;
    background: #fff;
    transition: ease 1s;
}

.select {
    background: #fff;
    color: #111;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#fp-nav ul li a span {
    background: white !important;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1047px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 990px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vw;
}

.landing-text h1 {
    color: rgba(0, 255, 255, 0.8);
    font-family: Futura;
    position: relative;
    font-size: 6vw;
    font-weight: 600;
    margin: 0;
    width: 35vw;
    text-shadow: 10px 10px 8px rgb(0,0,0,0.8);
}

.landing-text h3 {
    color: whitesmoke;
    margin: 0 0 40px 5px;
    line-height: 0.5vh;
    font-size: 1.3vw;
}

.landing-image {
    margin: 30px 0 0 0;
    text-align: center;
    z-index: -1;
}

.landing-image img {
    width: 28vw;
    border: 2px solid whitesmoke;
    box-shadow: inset 0 0 30px #e43f5a, 0 0 30px #e43f5a;
    margin: 0 auto;
    border-radius: 50%;
}


.cta-buttons button {
    outline: none;
    border: none;
    margin: 0 10px;
    height: 45px;
    width: 150px;
    min-width: 100px;
    font-size: 13px;
    color: white;
    padding: 5px;
    border-radius: 8px;
    background: linear-gradient(145deg, #f44360, #cd3951);
    box-shadow: 3px 3px 1px #5b1924,
        -3px -2px 6px #000;
}

.cta-buttons button:hover {
    border-radius: 26px;
    transition: ease-in-out 0.5s;
}

.social-landing {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.social-landing a {
    color: white;
    margin: 0 20px;

}

.social-landing a:hover {
    transform: scale(1.4);
}

.section1 {
    background-image: url(../img/layered-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.section2 {
    background-image: url(../img/layered-mirror.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */

}

.section2 .fp-tableCell {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container {
    min-height: 80%;
    border-radius: 20px;
    background: #001220;
    box-shadow: inset -7px 7px 12px #00070d,
        inset 7px -7px 12px #001d33;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service-header {
    text-align: center;
    margin-bottom: 10px;
}

.service-header h2 {
    color: #e43f5a;
    font-weight: bold;
    font-size: 40px;
}

.service-header h4 {
    color: white;
    letter-spacing: 3px;
}

.card {
    /* height: 100px; */
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(225deg, #001322, #00101d);
    box-shadow: -7px 7px 15px #00070d,
        7px -7px 15px #001d33;
    margin: 20px auto;
    padding: 20px 0;
    transition: all 1s ease-in-out;

}

.card:hover {
    background: #001220;
    box-shadow: -5px 5px 5px #00070d,
        5px -5px 5px #001d33,
        0 0 50px #ff4868;
        transition: all 1s ease-in-out;
}

.card .icon {
    padding: 10px;
    margin: 5px auto;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #7ed4dd;
    color: white;
    background: #001220;
    box-shadow: 6px 6px 18px #000910,
        -6px -6px 18px #001b30;
}

.card h2 {
    color: white;
    font-size: 25px;
}

.card h5 {
    color: #e43f5a;
    font-size: 15px;
    font-family: Poppins, Sans-serif;
    padding: 10px 5px;
}

@media only screen and (max-width: 767px) {
    .service-header h3 {
        font-size: 20px;
    }

    .service-header h1 {
        font-size: 25px;
    }

    .card {
        margin: 10px auto;
        padding: 5px 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card h5 {
        color: #ffca22;
        font-size: 10px;
        font-family: Poppins, Sans-serif;
        padding: 8px 3px;
    }

    .logo-service img {
        height: 50px;
    }

}