<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!--------- <title>Responsive Navigation Menu</title>------>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/contact.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="./css/fullpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div id="fullpage">
        <div class="section section1" id="section1">
            <header>
                <nav>
                    <div class="logo"><a href=""><img src="./img/LOGO.png"></a></div>
                    <input type="checkbox" id="click">
                    <label for="click" class="menu-btn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul>
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'about' %}">ABOUT</a></li>
                        <li><a href="{% url 'contact' %}">CONTACT US</a></li>
                        <li><a href="{% url 'announcements' %}">ANNOUNCEMENTS</a></li>
                        <li><a href="{% url 'forum' %}">FORUM</a></li>
                        <li><a class="select" href="#"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-md-6">
                <h1>Contact Us</h1>
                <p>Let's discuss something awesome together. Tell us a bit about yourself, and we'll get in touch
                    as soonb as we can.</p>
                <div class="contact-info">
                    <h4>EMAIL:</h4>
                    <a href="mailto:vedantmisra4444@gmail.com">vedantmisra4444@gmail.com</a>
                </div>
                <div class="contact-info">
                    <h4>PHONE:</h4>
                    <a href="tel:8850576005">(+91)8850576005</a>
                </div>
            </div>
            <div class="col-md-6">
                <form name="registration" class="row" action="">
                    <div class=" form-group col-md-6 mb-2">
                        <label for="" class="form-label">Name</label>
                        <input type="text" name="fname" class="form-control" id="">
                    </div>
                    <div class=" form-group col-md-6 mb-2">
                        <label for="" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="" required>
                    </div>
                    <div class="form-group col-md-6 mb-4">
                        <label for="" class="form-label">Phone No.</label>
                        <input type="tel" name="phone" class="form-control" id="phone" required>
                    </div>
                    <div class="form-group col-md-6 mb-2">
                        <label for="" class="form-label pl-0">Reason for Connection</label>
                        <select class="form-control" required>
                            <option selected value="Feedback">Feedback</option>
                            <option value="collaboration">Collaboration</option>
                            <option value="Grievance">Grievance</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 mb-4">
                        <label for="" class="form-label">Your message</label>
                        <textarea class="form-control" id="" required></textarea>
                    </div>
                    <!-- <div class="col-md-4">
                            <label for="inputState" class="form-label">State</label>
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                            </div> -->
                    <div class="col-md-12 mb-7">
                        <button type="submit" class="btn submit" onclick="return validateForm()">Submit
                            Message</button>
                    </div>

                </form>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>

</html>